<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whm.githubapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="GitHub App"
        android:name=".MyApplication">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="your-app.com"
                    android:path="/callback" />
            </intent-filter>
        </activity>
    </application>

</manifest>
